@media screen and (max-width: 900px){
    .onglet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .rond {
        margin-bottom: 3%;
    }
    
}

.container {
    background-color: #5C5C5C;
    font-family: sans-serif;
    color: #FFFFFF;
    padding: 2% 2%;
}

body {
    background-color: #5C5C5C;
}

/* HEADER */

.PP {
    text-align: start;
    margin-bottom: 50px;
    font-size: medium;
}

.accroche {
    text-align: center;
    margin-bottom: 70px;
    font-size: x-large;
}

/* ONGLETS */

.onglet {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.rond {
    font-size: xx-large;
    width: 250px;
    height: 250px;
    border-radius: 150px;    
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onglet a {
    text-decoration: none;
    color: #FFFFFF;
}

#print {    
    background-color: #96d88c;
    border-color: #96d88c;    
}

#print:hover {
    background-color: #66945f;
    color: #a0e995;
    border: solid;
    border-color: #a0e995;
}

#web {
    background-color: #8fd8e2;
    border-color: #8fd8e2;
}

#web:hover {
    background-color: #6a9da3;
    color: #92e0eb;    
    border: solid;
    border-color: #92e0eb;
}

#contact {
    background-color: #dd9898;
    border-color: #dd9898;
}

#contact:hover {
    background-color: #a06c6c;
    color: #eea2a2;        
    border: solid;
    border-color: #eea2a2;
}

/* FOOTER */

.foot {
    font-size: small;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.foot a {
    text-decoration: none;
    color: #FFFFFF;
}

.foot a:hover {
    text-decoration: underline;
}